* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ion-icon {
  font-size: 2.5rem;
  color: white;
}

#container p {
  width: 100%;
  text-align: center;
  color: white;
}

footer nav {
  margin-bottom: 16px;
}

footer nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
footer nav li {
  padding: 0 8px;
}
footer nav li:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
